{% extends 'store/main.html' %}
{% load static %}
{% block content %}
	<div class="row">
		<div class="col-lg-6">
			
			<h2 style="margin-top: 155px; text-align: center;">What do we do?</h2>
			
		</div>

		<div class="col-lg-6">
			
			<h5 style="margin-top:25px;">Get your cleaned groceries without risking your very life from the current pandemic
			<hr>Easy, fast, reliable service for all home cookers who just wants to get things done quickly
			<hr>Setting up a safer and friendlier alternatives for elderlies and hospitalized to get their groceries, supplies, whatever they want.
			<hr>Utilizing drivers as middle-man, thus making deliveries efficient and fast
			</h5>
			
		</div>

	</div>

	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>

	<div class="row">
		<div class="col-lg-12">
			<h2 style="text-align: center; margin-top: 50px;">The Problems We're Trying to Solve</h2>
			<br> <br> <br>
			<h5>Grocery shopping is often inefficient as some stocks would be out of supply and there is no way to check beforehand.
			<hr>Covid-19 is spreading through uncleaned goods that are delivered everyday.
			<hr>Panic buyers disturbs the supply and chain of the goods that are sold.
			<hr>Supermarkets are crowded despite the pandemic.
			</h5>
		</div>


{% endblock content %}